* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a, img {
    -webkit-touch-callout: none; /* 禁止长按链接与图片弹出菜单 */
}
html, body {
    -webkit-user-select: none;   /* 禁止选中文本（如无文本选中需求，此为必选项） */
    user-select: none;
}

body {
    font: 16px "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}

ul {
    list-style: none;
}

input {
    outline: none;
}


/*宽度小于768px时*/

.col-sm-1 {
    width: 8.33%;
}

.col-sm-2 {
    width: 16.66%;
}

.col-sm-3 {
    width: 25%;
}

.col-sm-4 {
    width: 33.33%;
}

.col-sm-5 {
    width: 41.66%;
}

.col-sm-6 {
    width: 50%;
}

.col-sm-7 {
    width: 58.33%;
}

.col-sm-8 {
    width: 66.66%;
}

.col-sm-9 {
    width: 75%;
}

.col-sm-10 {
    width: 83.33%;
}

.col-sm-11 {
    width: 91.66%;
}

.col-sm-12 {
    width: 100%;
}

.hidden {
    display: none;
}
/*头部固定*/

header {
    position: fixed;
    z-index: 10;
    height: 40px;
    top: 0;
    left: 0;
    right: 0;
    color: #fff;
    background-color: rgb(80, 173, 59);
}

header a {
    color: #fff;
}

header h3 {
    text-align: center;
    height: 40px;
    line-height: 40px;
}

.header-left {
    position: absolute;
    left: 1em;
    line-height: 40px;
}

.header-right {
    position: absolute;
    right: 10px;
    line-height: 40px;
}

.content {
    margin-top: 40px;
    margin-bottom: 50px;
}


/*尾部固定*/

footer {
    z-index: 10;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    background-color: #fff;
}

footer a.btn {
    border-radius: 0;
}


/*按钮样式*/

.btn {
    display: block;
    text-align: center;
    font-size: 16px;
    height: 40px;
    margin: 0 auto;
    line-height: 40px;
    border: 1px solid rgb(236, 235, 241);
    border-radius: 5px;
    text-decoration: none;
    color: #000;
}

a.active,
.active {
    color: #fff;
    background-color: rgb(80, 173, 59);
}


/*面板样式*/

.panel {
    position: relative;
    height: 80px;
    background-color: rgb(236, 235, 241);
    padding: 10px 0;
}